@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* scroll-padding-top: 6rem; */
  /* background-color: #333; */
}

section {
  height: 100%;
  padding: 2rem 10%;
}

.heading {
  text-align: center;
  padding: 2.5rem 0;
}

.heading span{
  font-size: 3.5rem;
  background-color: #d0efff;
  color: #1c579d;
  border-radius: .5rem;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #1c579d;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 10%;
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
}

header .logo:hover {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header .logo span {
  color: #f3d500;
  font-style: italic;
}

header .navbar a {
  color: #fff;
  font-size: 1.5rem;
  margin: 1.8rem;
}

header .navbar a:hover {
  color: #f3d500;
  font-size: 2rem;
  transition: color ease-in 0.5s;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.home .content {
  text-align: center;
}

.home .content h3 {
  font-size: 4.5rem;
  color: #fff;
  text-transform: uppercase;
}

.home .content p {
  font-size: 2.5rem;
  color: #fff;
  text-transform: capitalize;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 1rem;
  background: rgba(166, 166, 166, 0.2);
  color: #fff;
  padding: 0.8rem 3rem;
  border: 0.2rem solid #f3d500;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: #f3d500;
  transform: scale(1.3);
}

.home .video video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  top: 0;
  left: 0;
}

.package .box-container{
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}

.package .box-container .box{
  flex:1 1 30rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.package .box-container .box img{
  height: 25rem;
  width:100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.package .box-container .box img:hover {
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}


.package .box-container .box .content{
  padding:2rem;
}

.package .box-container .box .content h3{
  font-size:2rem;
  color:#333;
  text-transform: capitalize;
}

.package .box-container .box .content h3 i{
  color: #f3d500;
  padding-right: .8rem;
}

.package .box-container .box .content p{
  font-size:1.7rem;
  color:#333;
  padding:1rem 0;
}

.package .box-container .box .content .price{
  font-size: 2rem;
  color:#333;
  padding-top: 1rem;
}

.package .box-container .box .content .price span{
  color:#666;
  font-size: 1.5rem;
  text-decoration: line-through;
}

.title {
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  color: #333;
  margin-bottom: 5rem;
}

.title_data {
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  color: #333;
  margin-bottom: 3rem;
}

.title_data span + span {
  margin-left: 10rem;
}

.service .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.service .box-container .box{
  flex: 1 1 30rem;
  border-radius: .5rem;
  padding: 1rem;
  text-align: center;
}

.service .box-container .box i{
  padding: 1rem;
  font-size: 5rem;
  color:#1c579d;
}

.service .box-container .box h3{
  font-size: 2.5rem;
  color:#333;
  text-transform: capitalize;
}

.service .box-container .box p{
  font-size: 1.5rem;
  color:#666;
  padding: 1rem 0;
}

.contact .image img{
  width:100%;
}


.contact form .inputBox h1{
  text-align: center;
  text-transform: uppercase;
  color: #333;
  font-size: 2.5rem;
  font-weight: bolder;
  font-style: italic;
  padding: 2rem;

}

.contact form .inputBox h1 span {
  color: #f3d500;
}

.myForm {
  display: grid;
  grid-template-areas: 
    "customer taxi"
    "customer extras"
    "pickup pickups"
    "instructions instructions"
    "submit submit";
  grid-template-columns: auto auto;  
  grid-template-rows: auto auto auto auto;
  grid-gap: .8em .5em;
  background: #1c579d;
  color: #fff;
  padding: 1.2em;
  font-size: 1.5rem;
}
.myForm textarea {
  height: calc(100% - 1.5em);
  }

.myForm input:not([type=radio]):not([type=checkbox]), 
.myForm textarea, 
.myForm select {
   width: 100%;
  border: 0;
  padding: 1em;
  margin: .5em 0;
}
.myForm label {
 display: block; 
}
fieldset {
  border: 0;
}
#customer {
  grid-area: customer;
}
#taxi {
  grid-area: taxi;
}
#extras {
  grid-area: extras;
}
#pickup {
  grid-area: pickup;
}

#instructions {
  grid-area: instructions;
}
#submit {
  grid-area: submit;
}

.footer{
  background:#333;
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.footer .box-container .box{
  padding:1rem 0;
  flex:1 1 25rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  text-transform: uppercase;
  padding:.7rem 0;
  color:#fff;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  padding:.7rem 0;
  color:#eee;
}

.footer .box-container .box a{
  display: inline-block;
  font-size: 1.5rem;
  color:#eee;
  padding: 1rem;
}

.footer .box-container .box a:hover{
  color: #f3d500;
  text-decoration: underline;
}

.footer .credit{
  text-align: center;
  padding:2rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color:#fff;
  border-top: .1rem solid rgba(255,255,255,.2);
}

.footer .credit span{
  color: #f3d500;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #333;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 340px) {
  html {
    font-size: 50%;
  }
}
